In [1]:
import numpy as np
import pandas as pd

import sqlite3

connection = sqlite3.connect('yandex_test.db')
c = connection.cursor()

In [19]:
# Add Data to Database

pd.DataFrame([(i, i+2) for i in range(100)], 
             columns=["id", "promocode_id"]).to_sql("orders", con=connection, if_exists="replace")
pd.DataFrame([(i, i, i) for i in range(30)],
             columns=["id", "name", "discount"]).to_sql("promocodes", con=connection, if_exists="replace")
c.execute("UPDATE orders SET promocode_id = NULL WHERE promocode_id>30;")
connection.commit()

In [82]:
# Какова доля заказов с промокодами?

pd.read_sql("""
SELECT cast(SUM(case when promocode_id IS NULL then 0 else 1 end) as float)
            /cast(COUNT(1) as float) as promocode_orders_percent
    FROM orders

"""
, con=connection)

   promocode_orders_percent
0                      0.29

In [83]:
# Какой самый популярный промокод (название) и какая сумма общих затрат по нему? 
# Самый популярный промокод – это промокод, по которому получились наибольшие затраты в деньгах.

pd.read_sql( """
SELECT promocodes.name as promocode_name, 
        SUM(promocodes.discount)  as promocode_full_sum
FROM orders LEFT JOIN promocodes
        ON orders.promocode_id = promocodes.id
        GROUP BY promocodes.name
        ORDER BY 2 DESC
        LIMIT 1
"""
, con=connection)

   promocode_name  promocode_full_sum
0              29                  29